.home {
    height: 100%;
    position: relative;

    .homeScreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 12px;

        h3 {
            margin: 20px 0;
            font-size: 48px;
            text-align: center;
            user-select: none;
        }

        .customChangelog {
            background: var(--background);
            text-align: left;
            padding: 1rem;
            border-radius: 10px;
        }
    }
}
